<!doctype html>
<html lang="en">
{{template "global/header" .}}

<body>
<div class="container">

    <div id="search-overlay" class="overlay overlay--hidden">
        <div id="search" class="instant-search">
            <div class="instant-search__input-container">
                <input id="song-search-input" class="instant-search__input" type="text" spellcheck="false"
                       placeholder="Добавить песню">
                <i class="material-icons instant-search__icon">search</i>
            </div>
        </div>
    </div>

    <form id="event-form">

        <div class="mb-2 mt-2">
            {{/*            <label for="name">Название</label>*/}}
            <input type="text" class="form-control header-input" id="name" list="suggestions" placeholder="Название"
                   required>

            <datalist id="suggestions">
                {{ range $i, $name := .EventNames }}
                <option value="{{ $name.Name }}">
                    {{ end }}
            </datalist>
        </div>

        <div class="mb-3">
            <label for="date">Дата</label>
            <input type="date" class="form-control" id="date" required>
        </div>

        <div class="mb-3">
            <label>Песни</label>
            <div class="btn btn-light w-100 mb-2" id="add-song-button"><i class="fas fa-plus"></i> Добавить песню</div>

            <div id="songs" class="sortable-list">
                {{ range $i, $song := .Event.Songs }}
                    <div class="item">
                        <span class="text" data-song-id="{{ hex $song.ID }}">{{ $song.PDF.Name }}</span>
                        <i id="delete-song-icon" data-song-id="{{ hex $song.ID }}" class="fas fa-trash-alt"></i>
                    </div>
                {{ end }}
            </div>
        </div>

        <div class="mb-3">
            <label for="notes">Заметки</label>
            <textarea type="text" class="form-control" id="notes"></textarea>
        </div>
    </form>
</div>

<script type="text/javascript">
    const action = {{ .Action }};
    let event = JSON.parse("{{ .EventJS }}");
    const messageId = {{ .MessageID }};
    const chatId = {{ .ChatID }};
</script>
<script type="module" src="/webapp/assets/js/edit-event.js"></script>
</body>
</html>