<!doctype html>
<html lang="en">
{{template "global/header" .}}

<body>
<div class="container">

    <form id="form">

        <div class=" mt-2">
            <input type="text" class="form-control header-input" id="name" value="{{ .Event.Name }}" list="suggestions"
                   placeholder="Название"
                   required>

            <datalist id="suggestions">
                {{ range $i, $name := .EventNames }}
                <option value="{{ $name.Name }}">
                    {{ end }}
            </datalist>
        </div>

        <div class="d-flex flex-row mb-3">
            <input type="date" id="date" value="{{ .Event.Time.Format "2006-01-02" }}" required>
        </div>

        <div class="mb-3">
            <label>Песни</label>
            {{/*            <a class="text-black" data-bs-toggle="collapse" href="#collapseExample" role="button"*/}}
            {{/*               aria-expanded="true" aria-controls="collapseExample">Скрыть</a>*/}}

            <div class="collapse show" id="collapseExample">
                {{/*                <div class="btn btn-light w-100 mb-2" id="add-song-button"><i class="fas fa-plus"></i> Добавить песню*/}}
                {{/*                </div>*/}}

                <div id="search" class="instant-search">
                    <div class="instant-search__input-container">
                        <input id="song-search-input" class="instant-search__input" type="text"
                               spellcheck="false"
                               placeholder="Добавить песню">
                        <i class="instant-search__icon fa fa-search"></i>
                        {{/*                        <i class="loader"></i>*/}}
                    </div>
                </div>

                <div id="songs" class="sortable-list">
                    {{ range $i, $song := .Event.Songs }}
                        <div class="item">
                            <span class="text" data-song-id="{{ hex $song.ID }}">{{ $song.PDF.Name }}</span>
                            <i class="fas fa-trash-alt song-remove"></i>
                        </div>
                    {{ end }}
                </div>
                <div class="form-text">Песни можно перетаскивать.</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="notes">Заметки</label>
            <div class="grow-wrap">
                <textarea type="text" class="form-control" id="notes">{{ .Event.Notes }}</textarea>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    const action = {{ .Action }};

    let event = JSON.parse({{ json .Event }});

    const messageId = {{ .MessageID }};
    const chatId = {{ .ChatID }};
    const userId = {{ .UserID }};
</script>
<script type="module" src="/webapp/assets/js/edit-event.js"></script>
</body>
</html>