<!doctype html>
<html lang="en">
{{template "global/header" .}}
<body>
<div class="container">
    <h1>
        Редактировать собрание
    </h1>

    <div>
        <label for="name">ID</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="id" disabled>
        </div>
        <label for="name">Название</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="date">Дата</label>
            <input type="date" class="form-control" id="date">
        </div>
        <div class="mb-3">
            <label for="date">Заметки</label>
            <textarea type="text" class="form-control" id="notes"></textarea>
        </div>
    </div>
</div>

<script type="text/javascript">let event = JSON.parse("{{ .Event }}")</script>
<script type="text/javascript" src="/assets/js/events/edit-event.js"></script>
</body>
</html>