<!doctype html>
<html lang="en">
{{template "global/header" .}}
<body>
<div class="container">
    <h1>
        Новое собрание
    </h1>

    <div>
        <label for="name">Название</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="name" value="{{ .Event.Name }}">
        </div>

        <div class="mb-3">
            <label for="date">Дата</label>
            <input type="date" class="form-control" id="date">
        </div>
    </div>
</div>

<script>
    (function () {
        Telegram.WebApp.ready()

        let inputs = [
            document.getElementById("date"),
            document.getElementById("name"),
        ]

        Telegram.WebApp.MainButton.hide()

        for (let i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('input', () => {
                let values = []
                inputs.forEach(v => values.push(v.value))
                if (values.includes('')) {
                    Telegram.WebApp.MainButton.hide()
                } else {
                    Telegram.WebApp.MainButton.show()
                }
            })
        }

        document.getElementById("date").valueAsDate = new Date();

        Telegram.WebApp.MainButton.setText("Создать")

        Telegram.WebApp.MainButton.onClick(function () {
            Telegram.WebApp.sendData(JSON.stringify({
                "event": {
                    "name": document.getElementById("name").value,
                    "date": document.getElementById("date").value
                }
            }))
        })
    })()
</script>
</body>
</html>